* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0D042F;
    color: white;
    text-align: center;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

header img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

main {
    display: flex;
    flex-direction: column;
}

.page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    font-size: 24px;
    padding: 20px;
    text-align: center;
}
.page p {
    font-family: 'Playfair Display', serif;
}
.copyright {
    text-align: center;
    font-size: 14px;
    color: #aaa;
    padding: 10px 0;
}